
body {
  font-family: "Arial", sans-serif;
  color: #222;
  font-size: 12px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

.location {
  font-size: 12px;
}



.grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  grid-template-areas:
  "experience skills"
  "experience certifications"
  "experience education"
  "experience contact";
  grid-gap: 10px;

  /* grid-template-areas:
  "experience  skills"
  "experience  certifications"
  "experience  education"
  "experience  contact"; */
}

/* .experience {
  grid-column-start: 1;
  grid-column-end: 4;
} */


#nameplate {
  background-color: rgb(234,234,235);
  padding: 0.5rem;
  color: #ffffff;
}

.experience {
  background-color: rgb(234,234,235);
  padding: 0.5;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-area: experience;


}


.skills {
  background-color: rgb(234,234,235);
  padding: 0.5px;
  height: 300px;
  display: inline-block;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-area: skills;

}


.certifications {
  background-color: rgb(234,234,235);
  padding: 0.5px;
  height: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: certifications;
}

.education {
  background-color: rgb(234,234,235);
  padding: 0.5px;
  height: 270px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-area: certifications;
}

.contact {
  background-color: rgb(234,234,235);
  padding: 0.5px;
  height: 150px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-area: contact;
}


/* #nameplate {
  background-color: rgb(234,234,235);
  padding: 0.5rem;
  color: #ffffff
}


#experience {
  background-color: rgb(234,234,235);
  padding: 0.5;

}

#skills {
  background-color: rgb(234,234,235);
  padding: 0.2;
}

#certifications {
  background-color: rgb(234,234,235);
  padding: 0.2;

}

#education {
  background-color: rgb(234,234,235);
  padding: 0.2;
}

#contact {
  background-color: rgb(234,234,235);
  padding: 0.2;
} */
